{% extends "layout.html" %}
{% block title %}Loan list{% endblock %}
{% block content %}
    <h1 class="title">Loans</h1>

    {% if loans %}
    <table class="table is-striped is-fullwidth">
      <tr>
        {% for attribute, _ in loans[0][1].__dict__.items() %}
          <th>{{ attribute.capitalize() }}</th>
        {% endfor %}
      </tr>
      {% for loan_key, loan in loans %}
      <tr>
        {% for _, value in loan.__dict__.items() %}
          <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% endif %}
{% endblock %}
